.footer {
  padding: 4rem;
  .text1 {
    color: #000000;
    text-align: left;
    font-family: "Kanit-Regular", sans-serif;
    font-size: 28.19444465637207px;
    line-height: 103.16%;
    font-weight: 400;
    position: relative;
  }
}
